body {
  background-color:#eafadd;
}
h1 {
  color:#ac0808;
  font-family:'Dancing Script', cursive ;
  font-size:40px;
  text-align:center;
  text-decoration:underline;
}
p {
  color:#555555;
  font-family:verdana;
  text-align:justify;
}
.resaltado{
  color:#000000;
  background-color:#44bce0;
  font-style:italic;
}
/* Propiedades relacionadas al borde de un elemento HTML (border-width, border-style, border-color) */
.pregunta{
  background-color: lightblue;
  border-width: 1px;
  border-style: solid;
  border-color: #000000;
}