
body {
 background-color: #eafadd; 
}

.imageBody{
  background-image:url("../asset/watame.png");
  background-repeat:no-repeat;
  /* background-repeat:repeat-x; */
  /* background-repeat:repeat-y; */
  background-position: 7% 52%;
  /* background-position: 400px  30px; */
  /* background-position: center left; */
  background-size: 16%;
}


.h1 {
/*  variantes del font=
font-size
font-family
font-style
font-weight
font-variant  */
/* Acortacion del font =font:bold italic 25px verdana; */

  color: #ac0808;
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
  text-align: center;
  text-decoration: underline;
}



.p {
  /* Propiedades relacionadas al margen,colores de letras, fuente y elemento HTML. */
  color: #555555;
  font-family: verdana;
  text-align: center;

  background-color: #ffffaa;
  margin: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: #ff0000;
/* el siguiente codigo es una acortacion */
 /*  border: 1px solid #ff0000; */
}

.resaltado {
  color: #000000;
  background-color: #44bce0;
  font-style: italic;
}

/* Propiedades relacionadas al borde de un elemento HTML (border-width, border-style, border-color) */
.pregunta {
  background-color: lightblue;
  border-width: 1px;
  border-style: solid;
  border-color: #000000;
}

.respuesta {
  border-width: 1px;
  border-style: dashed;
  border-color: #000000;
}

/* Más propiedades relacionadas al borde de un elemento HTML */
.tituloPagina {
  background-color: #ffffcc;
  text-align: center;
  font-family: cursive;
  font-size: 40px;
  color: #ac0808;

  border-top-width: 2px;
  border-right-width: 5px;
  border-bottom-width: 5px;
  border-left-width: 2px;

  border-top-style: dotted;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: dashed;

  border-top-color: lightcoral;
  border-right-color: firebrick;
  border-bottom-color: firebrick;
  border-left-color: hotpink;
}

/* Propiedades relacionadas al padding de un elemento HTML. */
.codigofuente {
  font-size: 16px;
  background-color: salmon;
  border-width: 3px;
  border-style: dashed;
  border-color: brown;
}

.vacio{ 
  list-style:none;
}
.decimal{
  list-style: hiragana;
}
.romanomayuscula{
  list-style: upper-roman;
}
